<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Warble</title>

    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/script.js" defer type="module"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <h1>Warble</h1>
        <p>
          Discover bird calls all across America.
          Each roll of the die flies you to a new soundscape,
          where you can explore more about where you are and who you hear.
          <br />
          <em>Turn up your volume and start exploring!</em>
        </p>
      </div>
      <button id="to-soundscapes" aria-label="go to a random soundscape">
        <svg
          width="80px"
          height="80px"
          viewBox="0 0 512 512"
          xmlns="http://www.w3.org/2000/svg"
          fill="#ffffff"
          stroke="#ffffff"
        >
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke="#CCCCCC"
            stroke-width="2.072"
          ></g>
          <g id="SVGRepo_iconCarrier">
            <path
              fill="none"
              stroke="#ffffff"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
              d="M448,341.37V170.61A32,32,0,0,0,432.11,143l-152-88.46a47.94,47.94,0,0,0-48.24,0L79.89,143A32,32,0,0,0,64,170.61V341.37A32,32,0,0,0,79.89,369l152,88.46a48,48,0,0,0,48.24,0l152-88.46A32,32,0,0,0,448,341.37Z"
            ></path>
            <polyline
              fill="none"
              stroke="#ffffff"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
              points="69 153.99 256 263.99 443 153.99"
            ></polyline>
            <line
              fill="none"
              stroke="#ffffff"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="16"
              x1="256"
              y1="463.99"
              x2="256"
              y2="263.99"
            ></line>
            <ellipse cx="256" cy="152" rx="24" ry="16"></ellipse>
            <ellipse cx="208" cy="296" rx="16" ry="24"></ellipse>
            <ellipse cx="112" cy="328" rx="16" ry="24"></ellipse>
            <ellipse cx="304" cy="296" rx="16" ry="24"></ellipse>
            <ellipse cx="400" cy="240" rx="16" ry="24"></ellipse>
            <ellipse cx="304" cy="384" rx="16" ry="24"></ellipse>
            <ellipse cx="400" cy="328" rx="16" ry="24"></ellipse>
          </g>
        </svg>
      </button>
    </div>
  </body>
</html>
